fastapi
uvicorn
gunicorn
langchain>=0.3.0
langchain-community>=0.3.0
langchain-google-genai>=2.0.0
langchain-experimental
langchainhub
tavily-python
requests
python-dotenv
google-auth-oauthlib
google-api-python-client